/* ----------------------------------- Header Section ------------------------------------- */
@media screen and (max-width: 600px){
    #body-header{
        height: 50vh;
    }
    .horizental-list li a{
        color: white;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.5s;
    }
    .horizental-list{
        padding-left: 0px;
    }
    .horizental-list li{
        margin: 5px;
    }
    #my-name{
        margin-top: 18vh;
        font-size: 3rem;
        color: white;
        font-weight: 600;
        margin-bottom: 0.1rem;
    }
    .social-icons li a img{
        margin-bottom: 6px;
        width: 1.8rem;
        padding:2px 8px;
    }
    .social-icons{
        margin-bottom: 0px;
    }
}

/* ----------------------------------- About Section ------------------------------------- */
@media screen and (max-width: 600px){
    #my-image{
        height: 12rem;
        width: 12rem;
        margin: auto;
        margin-bottom: -50px;
    }
    h3{
        font-size: 16px;
        width: 85vw;
        margin-bottom: 3rem;
        text-align: center;
        margin-top: -20px;
    }
    #about p{
        margin: auto;
        width: 85vw;
        font-size: 14px;
        color: #554d4d;
        font-family: serif;
        margin-top: -20px;
        margin-bottom: -15px;
    }
    #about{
        margin-bottom: -15px;
    }
}

/* ----------------------------------- Skills Section ------------------------------------- */
@media screen and (max-width: 600px){
    .skill-progress{
        width: 13rem;
    }
}


/* ----------------------------------- Projects Section ------------------------------------- */
@media screen and (max-width: 600px){
    .timeline-divider{
        left: -5%;
        height: 85.8%;
    }
    .timeline-box:nth-child(2n+1)::after{
        left: -18.8%;
    }
    .timeline-box:nth-child(2n)::after{
        left: -18.8%;
    } 
    .timeline-box{
        width: 90%;
        left: 8% !important;
    }   
    .timeline{
        margin-bottom: 60px;
    }
        
}

/* ----------------------------------- Education Section ------------------------------------- */
@media screen and (max-width: 600px){
    #education{
        background-color: #ffffff;
        background-image: linear-gradient(90deg, #fffefb 0%, #fdeef3 100%);

    }
    .educations .card-deck{
        width: 80vw;
    }   
}

/* ----------------------------------- Details Section ------------------------------------- */
@media screen and (max-width: 600px){
    #details{
        width: 0vw;
        height: 0vh;
        margin: 0ch;
        margin-right: 0px;
        color: rgb(23, 22, 22);
    }
    #details h1 span{
       color: transparent;
    }
    #details .detl-img{
        width: 0px;
        height: 0px;
    }
    .details{
        width: 0vw;   
    }
    .details-slide{
        width: 0vw;
    }
}

/* git add .     git commit -m "contact section"       git push -u origin main   */
/* ----------------------------------- contact Section ------------------------------------- */
@media screen and (max-width: 600px){
   .address{
    margin-right: 40px;
    width: 40vw;
   }
   .contact-details{
    width: 60vw;
	display: flex;
	justify-content: space-between;
	margin-bottom: 160px;
   }
   .contact-details div h4{
	font-size: 20px;
    }
    .contact-details img{
        width: 20px;
        height: 20px;
    }
    .contact-details p{
        margin-bottom: 30px;
        margin-left: 1rem;
        font-size: 14px;
    }
}








